# ERD

## Thực thể (Entity)

- Thực thể

- Thực thể yếu (Weak)

## Thuộc tính (Attribute)

- Đơn trị

- Đa trị

- Kết hợp

- Suy diễn

- Khoá chính

## Mối quan hệ (Relationship)

- 1-1

- 1-n

- n-n

- Vòng

# RDM

## Thành phần

- Lược đồ quan hệ (Schema Relational)
  
- Thuộc tính (Attributes)
  
- Miền giá trị (Domain)
  
- Bộ (Tuples)
  
- Lược đồ CSDL (Schema DBMS)
  
- Mô hình dữ liệu quan hệ (RDM)

## Ký hiệu

$$
\begin{split}
R(A_1:D_1, A_2:&D_2, \ldots , An:D_n) \\
\\
R(A_1, A&2, \ldots , A_n) \\
\\
DOM(A) & \text{ or } MGT(A) \\
\\
t[A] & \text{ or } t.A
\end{split}
$$

# ERD to RDM

## Mối quan hệ

IDEA: Lấy khoá của Rx làm khoá chính Ry

### 1-1

Đối xứng.

### 1-n

Khoá chính bên **nhiều** đặt làm khoá ngoại bên **ít**.

### n-n

$$
R(<\text{Khoá ngoại 1}>, <\text{Khoá ngoại 2}>,\ldots,<\text{Thuộc tính của quan hệ (nếu có)}>,\ldots)
$$

## Thực thể yếu

$$R(<\text{key chính của entity phụ thuộc vào}>,A_1,A_2,\ldots)$$

- Thực thể $R$ liên kết với thực thể yếu $TTY$: $R$ chứa khoá chính của tất cả khoá của $TTY$.

E.g. $TTY(A_1, A_2, \ldots , A_n) \: \to \: R(A_1, A_2, \ldots , A_n)$.

- Dựa vào phân biệt của thực thể khác $\to$ thực thể yếu.

## Thuộc tính đa trị

$$
R(<\text{Key chính của Tuple}>,A_1,A_2,\ldots)
$$

![](/Users/chibangnguyen/Documents/notebook.maths/print/DBMS/3DF0B197-53A0-4D59-915B-B7B623759927_4_5005_c.jpeg)

## Liên kết đa ngôi

$$
R(<KEY1>, <KEY2>, <KEY3>,\ldots,<\text{Thuộc tính của quan hệ (nếu có)}>,\ldots)
$$

![](/Users/chibangnguyen/Documents/notebook.maths/print/DBMS/199149A9-42C8-4740-B731-56914A60A2F5.png)

# Relational Algebra

## Tính khả hợp (Union compatibility)

$$
R(A_1,A_2,\ldots , A_n) \\
\\
S(B_1, B_2, \ldots , B_n)
$$

- Cùng bậc $n$ ($n$ attribute).

- $DOM(A_i) = DOM(B_i) \quad \forall i \in \overline{1,n}$

## Phép toán

### Giao

- Tập hợp: $\cap$

- Mệnh đề: $\land$

### Hợp

- Tập hợp: $\cup$

- Mệnh đề: $\lor$

### Trừ

- Tập hợp, mệnh đề: $-$

### Chọn

$$
\sigma_p(R)
$$

- $p$: Điều kiện (Mệnh đề $\leftarrow$ Phép giao hợp trừ).

- Có tính giao hoán.

### Chiếu

$$
\pi _{A_1,A_2,\ldots , A_k} (R)
$$

- $A_1, A_2 , \ldots , A_k$: Attribute.

- Trong quá trình chiếu loại bỏ bộ (tuples) trùng nhau. $\bigg( t[\pi_{A_1,A_2,\ldots , A_k}(R)] \leq t[R] \bigg)$

- Không có tính giao hoán.

### Chiếu tổng quát

$$
\pi _{F_1(A_1),F_2(A_2),\ldots , F_k(A_k)} (R)
$$

### Gán

$$
\leftarrow
$$

E.g. $S \leftarrow \sigma _p (R)$, $S \leftarrow \pi _{A_1,A_2, \ldots , A_n} (R)$.

### Đổi tên

$$
\rho _S (R)
$$

- $R$: Quan hệ, với $R(B,C,D)$.

- $S$: Tên thay thế cho $R$.

- $R(B,C,D) \: \to \: S(B,C,D)$.

$$
\rho _{X,C,D} (R)
$$

- $R(B,C,D) \: \to \: R(X,C,D)$.

$$
\rho _{S(X,C,D)} (R)
$$

- $R(B,C,D) \: \to \: S(X,C,D)$.

### Tích Descartesian

$$
R \times S
$$

- Xuất ra table (tổ hợp) mới với

    - $n+m$ attribute.
  
    - $u \times v$ tuble.

### Kết

#### Theta

$$
R \bowtie _{\text{ĐK}} S
$$

- Xuất ra table mới.

#### Bằng

$$
R \bowtie_{R.A = S.B} S
$$

- Xuất ra table mới.

#### Tự nhiên

$$
R \bowtie S
$$

- Attribute:

    - Cùng NAME.

    - Cùng $DOM$.

- Tự **delete** Attribute trùng tên.

- Xuất ra table mới.

### Chia

$$
R(Z) \div S(X)
$$

- $X \subseteq Z$.

- Xuất ra $Q(Z-X)$. (Loại bỏ $A_i$ của $S$ trong $R$)

- Dùng khi: Lấy ra cái này **thoả hết tất cả** cái kia.

E.g. $R(A,B,C,D,E)$ và $S(D,E)$. $R \div S$ ra $Q(A,B,C)$

### Hàm kết hợp

- $SUM(A_i)$

- $AVG(A_i)$

- $COUNT(A_i)$

- $MIN(A_i)$

- $MAX(A_i)$

### Gom nhóm

$$
G_1, G_2, \ldots , G_n \Im _{F_1(A_1), F_2(A_2), \ldots , F_n(A_n)}(R)
$$

- $G_i$: Attribute cần gom.

- $F_i(A_i)$: Sử dụng hàm kết hợp lên $Ai$.

- $R$: Table nguồn.

- Xuất ra table mới.

## Thao tác

### Thêm

$$
R_{\text{new}} \leftarrow R_{\text{old}} \cup E
$$

- $E$ & $R$ khả hợp.
- $E$: Biểu thức Đại số quan hệ.

E.g. $\text{PHANCONG} \leftarrow \text{PHANCONG}('\text{Bancie}',20,10)$.

### Xoá

$$
R_{\text{new}} \leftarrow R_{\text{old}} - E
$$

E.g. $\text{PHANCONG} \leftarrow \text{PHANCONG} - \: \sigma _{\text{MANV}='123'} (\text{PHANCONG})$.

### Sửa

$$
R_{\text{new}} \leftarrow \pi _{F_1(A_1),F_2(A_2),\ldots , F_n(A_n)} (R_{\text{old}})
$$

## Kiểu thực hiện

### Lồng

$\sigma _p (\pi _{A_1, A_2 , \ldots , A_k} (\sigma _p (R)))$

### Từng bước

B1: $R2 \leftarrow \sigma _p (R1)$

B2: $R3 \leftarrow \pi _{A_1,A_2, \ldots , A_k} (R2)$

$\vdots$

B $_n$

# SQL

## Set up

### Tạo bảng

- Constraint **Trực tiếp**

```sql
CREATE TABLE TableName (
    Column1 DataType Constraints,
    Column2 DataType Constraints,
    ...
)
```

- Constraint **Tự định nghĩa**

```sql
CREATE TABLE TableName (
    Column1 DataType,
    Column2 DataType,
    Constraints ConstraintName ConstraintType,
    ...
)
```

- ```CHAR(x)```: Số lượng ký tự cố định.

- ```VARCHAR(x)```: Số lượng ký tự động (Auto xoá).

- ```NVARCHAR(x)```: Tương tự VARCHAR(x) nhưng có dấu được.

### RBTV (Constraint)

| Tên Constraint     | Ý nghĩa tiếng Việt                                                  | Cú pháp (Syntax)                                         | Ví dụ (Example)                                                                 |
|--------------------|---------------------------------------------------------------------|----------------------------------------------------------|----------------------------------------------------------------------------------|
| `PRIMARY KEY`      | Khóa chính – định danh duy nhất cho mỗi dòng                      | `PRIMARY KEY (ColumnName)` hoặc ngay sau tên cột         | `StudentID INT PRIMARY KEY`                                                     |
| `FOREIGN KEY`      | Khóa ngoại – liên kết với khóa chính ở bảng khác                  | `FOREIGN KEY (Column) REFERENCES OtherTable(Column)`     | `CustomerID INT FOREIGN KEY REFERENCES Customers(CustomerID)`                  |
| `NOT NULL`         | Không cho phép NULL – bắt buộc nhập dữ liệu                        | `ColumnName DataType NOT NULL`                           | `Name NVARCHAR(100) NOT NULL`                                                  |
| `UNIQUE`           | Giá trị không được trùng lặp trong cột                             | `ColumnName DataType UNIQUE`                             | `Email NVARCHAR(100) UNIQUE`                                                   |
| `CHECK`            | Kiểm tra điều kiện ràng buộc                                       | `CHECK (condition)` hoặc `ColumnName DataType CHECK (...)`| `GPA FLOAT CHECK (GPA BETWEEN 0 AND 4)`                                        |
| `DEFAULT`          | Gán giá trị mặc định nếu không nhập                                | `ColumnName DataType DEFAULT (value)`                    | `CreatedAt DATETIME DEFAULT GETDATE()`                                         |
| `IDENTITY`         | Tự động tăng giá trị, thường dùng cho khóa chính                  | `ColumnName INT IDENTITY(seed, increment)`               | `OrderID INT PRIMARY KEY IDENTITY(1,1)`                                        |

- ```GETDATE()```: E.g. output: 2025-04-06 14:32:17.897

### Sửa Table

#### Thêm

- Column

```sql
ALTER TABLE TableName
ADD ColumnName DataType [CONSTRAINT ...]
```

- Constraint

```sql
ALTER TABLE TableName
ADD CONSTRAINT ConstraintName ConstraintType
```

#### Xoá

- Column

```sql
ALTER TABLE TableName
DROP COLUMN ColumnName
```

- Constraint

```sql
ALTER TABLE TableName
DROP CONSTRAINT ConstraintName
```

#### Mở rộng

```sql
ALTER TABLE TableName
ALTER COLUMN ColumnName NewDomainType
```

### Xoá Table

```sql
DROP TABLE TableName
```

## Truy vấn

$$
\pi _A (\sigma _C (B))
$$

```sql
SELECT A FROM B WHERE C
```

$$
\land \: \lor \: \neg
$$

```sql
AND
OR
NOT
```

### SELECT

- Chọn Attribute A

```sql
SELECT A
```

- Chọn hết

```sql
SELECT *
```

#### DISTINCT

- Loại bỏ dòng trùng

```sql
SELECT DISTINCT Cot1, Cot2, ...
FROM TenBang
```

#### AS

- Đổi tên

```sql
TenCu AS TenMoi
```

```sql
TenCu TenMoi
```

#### Tính toán

```sql
SELECT <PHEPTOAN(Attribute)> AS KQ
FROM B
```

- E.g.

```sql
SELECT (Price * Quantity) * (1 - Discount) AS FinalPrice
FROM Products
```

#### Nối chuỗi

```sql
SELECT FirstName + ' ' + LastName AS FullName
FROM Employees
```

```sql
SELECT CONCAT(FirstName, ' ', LastName) AS FullName
FROM Employees
```

### FROM

#### Đơn Table

```sql
FROM Table1
```

#### Đa Table

$$TABLE _1 \times TABLE _2 \times TABLE _3 \times \ldots$$

```sql
FROM TABLE1, TABLE2 , TABLE3,...
```

Lưu ý

$$
A(C)
\\
B(D)
$$

```sql
SELECT *
FROM A, B
WHERE A.C = B.D
```

- Or

```sql
SELECT *
FROM A AS x, B AS y
WHERE x.C = y.D
```

- Lưu ý

    - Số điều kiện dùng để loại **tuple trùng lặp** của $A \times B$ = Số quan hệ (loại trừ quan hệ ko liên quan) giữa $A$ và $B$.

    - $A, B, C,\ldots$ trùng Attribute $\to$ ```A.Attribute```, ```B.Attribute```, ```C.Attribute```,...

### WHERE

#### BETWEEN

- $a < x < b$

```sql
WHERE Column BETWEEN a AND b
```

- $x < a \land x > b$

```sql
WHERE Column NOT BETWEEN a AND b
```

#### LIKE

- Bằng

```sql
WHERE Column LIKE 'xyz'
```

- Không bằng

```sql
WHERE Column NOT LIKE 'xyz'
```

- Lưu ý

    - Tiếng Việt: ```N'xyz'```

    - Ký tự:

        - ```'%xyz%'```: Chứa xyz.

        - ```'xyz%'```: Bắt đầu là xyz.

        - ```'%xyz'```: Kết thức là xyz.

#### NULL

- Lấy ra Attribute Null trong Column

```sql
WHERE Column IS NULL
```

- Lấy ra Attribute Not Null trong Column

```sql
WHERE Column IS NOT NULL
```

## OTHERS

### ORDER BY

```sql
SELECT
FROM
WHERE
ORDER BY A, B,...
```

- Tăng ```ASC```

```sql
ORDER BY A ASC
```

- Giảm ```DESC```

```sql
ORDER BY A DESC
```

### Set

- $\cup$ ```UNION```

- $\cap$ ```INTERSECT```

- $-$ ```EXCEPT```

```sql
SELECT
FROM
WHERE
<SET>
SELECT
FROM
WHERE
```

- Giữ lại bộ trùng ```<SET> + ALL```

### Subquery

#### Phân cấp (non-correlated)

- Subquery **độc lập** với Outer query.

```sql
SELECT
FROM
WHERE A <operator> (
    SELECT
    FROM
    WHERE B <operator> (
        ...
    )
)
```

- Lưu ý: Subquery *khả hợp* với Outer query.

##### Opertators

- ```IN / NOT IN```

- ```ALL```

- ```ANY```

- ```SOME```

#### Tương quan (non-correlated)

- Attribute trong Subquery **phụ thuộc** Outer query.

```sql
SELECT
FROM
WHERE <operator> (
    SELECT 1
    FROM
    WHERE <operator> (
        ...
    )
)
```

##### Opertators

- ```EXISTS / NOT EXISTS```

### Hàm kết hợp

```sql
SELECT <Hàm kết hợp> (AS TEN)
```

- ```COUNT()```

    - ```COUNT(*)```

    - ```COUNT(A)```

    - ```COUNT(DISTINCT A)```

- ```MIN()```

- ```MAX()```

- ```SUM()```

- ```AVG()```

### GROUP BY

```sql
SELECT A, <Hàm kết hợp>
FROM
WHERE
GROUP BY A
```

- Kèm điều kiện

```sql
SELECT A, <Hàm kết hợp>
FROM
WHERE
GROUP BY A
HAVING <Condition>
```

### JOIN

| Kiểu kết | Command                                 |
|------------------|------------------------------------------|
| $R_1 \bowtie R_2$: Khớp cả 2 bảng | ```FROM R1 JOIN R2 ON <Condition>``` <br/> or <br/> ```FROM R1 INNER JOIN R2 ON <Condition>``` |
| All bên trái + bên phải (nếu khớp) | ```FROM R1 LEFT JOIN R2 ON <Condition>``` |
| All bên phải + bên trái (nếu khớp) | ```FROM R1 RIGHT JOIN R2 ON <Condition>``` |
| All cả 2 bảng | ```FROM R1 FULL OUTER JOIN R2 ON <Condition>``` |
| $R_1 \times R_2$: Tích Descartes | ```FROM R1 CROSS JOIN R2``` |
| $R \bowtie R$: Tự kết | ```SELECT R R1, R R2``` <br/> ```FROM R1 (Kết ngoài) JOIN R2 ON <Condition>``` |

### CASE

```sql
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE result_default
END
```

| Vị trí dùng CASE | Ý nghĩa                                 |
|------------------|------------------------------------------|
| ```SELECT```           | Hiển thị dữ liệu theo điều kiện          |
| ```ORDER BY```         | Sắp xếp theo logic tùy chỉnh             |
| ```WHERE```            | Tạo điều kiện phức tạp (ít dùng hơn)     |
| ```GROUP BY```         | Kết hợp với biểu thức tính nhóm          |

## STRUCTURE ORDERING

```sql
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
```