# üìë Table of Contents

- [ERD](#ERD)
  - [Th·ª±c th·ªÉ (Entity)](#Th·ª±c-th·ªÉ-Entity)
  - [Thu·ªôc t√≠nh (Attribute)](#Thu·ªôc-t√≠nh-Attribute)
  - [M·ªëi quan h·ªá (Relationship)](#M·ªëi-quan-h·ªá-Relationship)
- [RDM](#RDM)
  - [Th√†nh ph·∫ßn](#Th√†nh-ph·∫ßn)
  - [K√Ω hi·ªáu](#K√Ω-hi·ªáu)
- [ERD to RDM](#ERD-to-RDM)
  - [M·ªëi quan h·ªá](#M·ªëi-quan-h·ªá)
    - [1-1](#1-1)
    - [1-n](#1-n)
    - [n-n](#n-n)
  - [Th·ª±c th·ªÉ y·∫øu](#Th·ª±c-th·ªÉ-y·∫øu)
  - [Thu·ªôc t√≠nh ƒëa tr·ªã](#Thu·ªôc-t√≠nh-ƒëa-tr·ªã)
  - [Li√™n k·∫øt ƒëa ng√¥i](#Li√™n-k·∫øt-ƒëa-ng√¥i)
- [Relational Algebra](#Relational-Algebra)
  - [T√≠nh kh·∫£ h·ª£p (Union compatibility)](#T√≠nh-kh·∫£-h·ª£p-Union-compatibility)
  - [Ph√©p to√°n](#Ph√©p-to√°n)
    - [Giao](#Giao)
    - [H·ª£p](#H·ª£p)
    - [Tr·ª´](#Tr·ª´)
    - [Ch·ªçn](#Ch·ªçn)
    - [Chi·∫øu](#Chi·∫øu)
    - [Chi·∫øu t·ªïng qu√°t](#Chi·∫øu-t·ªïng-qu√°t)
    - [G√°n](#G√°n)
    - [ƒê·ªïi t√™n](#ƒê·ªïi-t√™n)
    - [T√≠ch Descartesian](#T√≠ch-Descartesian)
    - [K·∫øt](#K·∫øt)
      - [Theta](#Theta)
      - [B·∫±ng](#B·∫±ng)
      - [T·ª± nhi√™n](#T·ª±-nhi√™n)
    - [Chia](#Chia)
    - [H√†m k·∫øt h·ª£p](#H√†m-k·∫øt-h·ª£p)
    - [Gom nh√≥m](#Gom-nh√≥m)
  - [Thao t√°c](#Thao-t√°c)
    - [Th√™m](#Th√™m)
    - [Xo√°](#Xo√°)
    - [S·ª≠a](#S·ª≠a)
  - [Ki·ªÉu th·ª±c hi·ªán](#Ki·ªÉu-th·ª±c-hi·ªán)
    - [L·ªìng](#L·ªìng)
    - [T·ª´ng b∆∞·ªõc](#T·ª´ng-b∆∞·ªõc)
- [SQL](#SQL)
  - [Set up](#Set-up)
    - [T·∫°o b·∫£ng](#T·∫°o-b·∫£ng)
    - [RBTV (Constraint)](#RBTV-Constraint)
    - [S·ª≠a Table](#S·ª≠a-Table)
      - [Th√™m](#Th√™m)
      - [Xo√°](#Xo√°)
      - [M·ªü r·ªông](#M·ªü-r·ªông)
    - [Xo√° Table](#Xo√°-Table)
  - [Truy v·∫•n](#Truy-v·∫•n)
    - [SELECT](#SELECT)
      - [DISTINCT](#DISTINCT)
      - [AS](#AS)
      - [T√≠nh to√°n](#T√≠nh-to√°n)
      - [N·ªëi chu·ªói](#N·ªëi-chu·ªói)
      - [H√†m k·∫øt h·ª£p](#H√†m-k·∫øt-h·ª£p)
    - [FROM](#FROM)
      - [T√≠ch Descartesian](#T√≠ch-Descartesian)
      - [K·∫øt](#K·∫øt)
    - [WHERE](#WHERE)
      - [BETWEEN](#BETWEEN)
      - [LIKE](#LIKE)
      - [NULL](#NULL)
      - [Subquery](#Subquery)
        - [Ph√¢n c·∫•p](#Ph√¢n-c·∫•p)
        - [T∆∞∆°ng quan](#T∆∞∆°ng-quan)
  - [OTHERS](#OTHERS)
    - [ORDER BY](#ORDER-BY)
    - [SET](#SET)

# ERD

## Th·ª±c th·ªÉ (Entity)

- Th·ª±c th·ªÉ

- Th·ª±c th·ªÉ y·∫øu (Weak)

## Thu·ªôc t√≠nh (Attribute)

- ƒê∆°n tr·ªã

- ƒêa tr·ªã

- K·∫øt h·ª£p

- Suy di·ªÖn

- Kho√° ch√≠nh

## M·ªëi quan h·ªá (Relationship)

- 1-1

- 1-n

- n-n

- V√≤ng

# RDM

## Th√†nh ph·∫ßn

- L∆∞·ª£c ƒë·ªì quan h·ªá (Schema Relational)
  
- Thu·ªôc t√≠nh (Attributes)
  
- Mi·ªÅn gi√° tr·ªã (Domain)
  
- B·ªô (Tuples)
  
- L∆∞·ª£c ƒë·ªì CSDL (Schema DBMS)
  
- M√¥ h√¨nh d·ªØ li·ªáu quan h·ªá (RDM)

## K√Ω hi·ªáu

$$
\begin{split}
R(A_1:D_1, A_2:&D_2, \ldots , An:D_n) \\
\\
R(A_1, A&2, \ldots , A_n) \\
\\
DOM(A) & \text{ or } MGT(A) \\
\\
t[A] & \text{ or } t.A
\end{split}
$$

# ERD to RDM

## M·ªëi quan h·ªá

IDEA: L·∫•y kho√° c·ªßa Rx l√†m kho√° ch√≠nh Ry

### 1-1

ƒê·ªëi x·ª©ng.

### 1-n

Kho√° ch√≠nh b√™n **nhi·ªÅu** ƒë·∫∑t l√†m kho√° ngo·∫°i b√™n **√≠t**.

### n-n

$$
R(<\text{Kho√° ngo·∫°i 1}>, <\text{Kho√° ngo·∫°i 2}>,\ldots,<\text{Thu·ªôc t√≠nh c·ªßa quan h·ªá (n·∫øu c√≥)}>,\ldots)
$$

## Th·ª±c th·ªÉ y·∫øu

$$R(<\text{key ch√≠nh c·ªßa entity ph·ª• thu·ªôc v√†o}>,A_1,A_2,\ldots)$$

- Th·ª±c th·ªÉ $R$ li√™n k·∫øt v·ªõi th·ª±c th·ªÉ y·∫øu $TTY$: $R$ ch·ª©a kho√° ch√≠nh c·ªßa t·∫•t c·∫£ kho√° c·ªßa $TTY$.

E.g. $TTY(A_1, A_2, \ldots , A_n) \: \to \: R(A_1, A_2, \ldots , A_n)$.

- D·ª±a v√†o ph√¢n bi·ªát c·ªßa th·ª±c th·ªÉ kh√°c $\to$ th·ª±c th·ªÉ y·∫øu.

## Thu·ªôc t√≠nh ƒëa tr·ªã

$$
R(<\text{Key ch√≠nh c·ªßa Tuple}>,A_1,A_2,\ldots)
$$

![](/Users/chibangnguyen/Documents/notebook.maths/print/DBMS/3DF0B197-53A0-4D59-915B-B7B623759927_4_5005_c.jpeg)

## Li√™n k·∫øt ƒëa ng√¥i

$$
R(<KEY1>, <KEY2>, <KEY3>,\ldots,<\text{Thu·ªôc t√≠nh c·ªßa quan h·ªá (n·∫øu c√≥)}>,\ldots)
$$

![](/Users/chibangnguyen/Documents/notebook.maths/print/DBMS/199149A9-42C8-4740-B731-56914A60A2F5.png)

# Relational Algebra

## T√≠nh kh·∫£ h·ª£p (Union compatibility)

$$
R(A_1,A_2,\ldots , A_n) \\
\\
S(B_1, B_2, \ldots , B_n)
$$

- C√πng b·∫≠c $n$ ($n$ attribute).

- $DOM(A_i) = DOM(B_i) \quad \forall i \in \overline{1,n}$

## Ph√©p to√°n

### Giao

- T·∫≠p h·ª£p: $\cap$

- M·ªánh ƒë·ªÅ: $\land$

### H·ª£p

- T·∫≠p h·ª£p: $\cup$

- M·ªánh ƒë·ªÅ: $\lor$

### Tr·ª´

- T·∫≠p h·ª£p, m·ªánh ƒë·ªÅ: $-$

### Ch·ªçn

$$
\sigma_p(R)
$$

- $p$: ƒêi·ªÅu ki·ªán (M·ªánh ƒë·ªÅ $\leftarrow$ Ph√©p giao h·ª£p tr·ª´).

- C√≥ t√≠nh giao ho√°n.

### Chi·∫øu

$$
\pi _{A_1,A_2,\ldots , A_k} (R)
$$

- $A_1, A_2 , \ldots , A_k$: Attribute.

- Trong qu√° tr√¨nh chi·∫øu lo·∫°i b·ªè b·ªô (tuples) tr√πng nhau. $\bigg( t[\pi_{A_1,A_2,\ldots , A_k}(R)] \leq t[R] \bigg)$

- Kh√¥ng c√≥ t√≠nh giao ho√°n.

### Chi·∫øu t·ªïng qu√°t

$$
\pi _{F_1(A_1),F_2(A_2),\ldots , F_k(A_k)} (R)
$$

### G√°n

$$
\leftarrow
$$

E.g. $S \leftarrow \sigma _p (R)$, $S \leftarrow \pi _{A_1,A_2, \ldots , A_n} (R)$.

### ƒê·ªïi t√™n

$$
\rho _S (R)
$$

- $R$: Quan h·ªá, v·ªõi $R(B,C,D)$.

- $S$: T√™n thay th·∫ø cho $R$.

- $R(B,C,D) \: \to \: S(B,C,D)$.

$$
\rho _{X,C,D} (R)
$$

- $R(B,C,D) \: \to \: R(X,C,D)$.

$$
\rho _{S(X,C,D)} (R)
$$

- $R(B,C,D) \: \to \: S(X,C,D)$.

### T√≠ch Descartesian

$$
R \times S
$$

- Xu·∫•t ra table (t·ªï h·ª£p) m·ªõi v·ªõi

    - $n+m$ attribute.
  
    - $u \times v$ tuble.

### K·∫øt

#### Theta

$$
R \bowtie _{\text{ƒêK}} S
$$

- Xu·∫•t ra table m·ªõi.

#### B·∫±ng

$$
R \bowtie_{R.A = S.B} S
$$

- Xu·∫•t ra table m·ªõi.

#### T·ª± nhi√™n

$$
R \bowtie S
$$

- Attribute:

    - C√πng NAME.

    - C√πng $DOM$.

- T·ª± **delete** Attribute tr√πng t√™n.

- Xu·∫•t ra table m·ªõi.

### Chia

$$
R(Z) \div S(X)
$$

- $X \subseteq Z$.

- Xu·∫•t ra $Q(Z-X)$. (Lo·∫°i b·ªè $A_i$ c·ªßa $S$ trong $R$)

- D√πng khi: L·∫•y ra c√°i n√†y **tho·∫£ h·∫øt t·∫•t c·∫£** c√°i kia.

E.g. $R(A,B,C,D,E)$ v√† $S(D,E)$. $R \div S$ ra $Q(A,B,C)$

### H√†m k·∫øt h·ª£p

- $SUM(A_i)$

- $AVG(A_i)$

- $COUNT(A_i)$

- $MIN(A_i)$

- $MAX(A_i)$

### Gom nh√≥m

$$
G_1, G_2, \ldots , G_n \Im _{F_1(A_1), F_2(A_2), \ldots , F_n(A_n)}(R)
$$

- $G_i$: Attribute c·∫ßn gom.

- $F_i(A_i)$: S·ª≠ d·ª•ng h√†m k·∫øt h·ª£p l√™n $Ai$.

- $R$: Table ngu·ªìn.

- Xu·∫•t ra table m·ªõi.

## Thao t√°c

### Th√™m

$$
R_{\text{new}} \leftarrow R_{\text{old}} \cup E
$$

- $E$ & $R$ kh·∫£ h·ª£p.
- $E$: Bi·ªÉu th·ª©c ƒê·∫°i s·ªë quan h·ªá.

E.g. $\text{PHANCONG} \leftarrow \text{PHANCONG}('\text{Bancie}',20,10)$.

### Xo√°

$$
R_{\text{new}} \leftarrow R_{\text{old}} - E
$$

E.g. $\text{PHANCONG} \leftarrow \text{PHANCONG} - \: \sigma _{\text{MANV}='123'} (\text{PHANCONG})$.

### S·ª≠a

$$
R_{\text{new}} \leftarrow \pi _{F_1(A_1),F_2(A_2),\ldots , F_n(A_n)} (R_{\text{old}})
$$

## Ki·ªÉu th·ª±c hi·ªán

### L·ªìng

$\sigma _p (\pi _{A_1, A_2 , \ldots , A_k} (\sigma _p (R)))$

### T·ª´ng b∆∞·ªõc

B1: $R2 \leftarrow \sigma _p (R1)$

B2: $R3 \leftarrow \pi _{A_1,A_2, \ldots , A_k} (R2)$

$\vdots$

B $_n$

# SQL

## Set up

### T·∫°o b·∫£ng

- Constraint **Tr·ª±c ti·∫øp**

```sql
CREATE TABLE TableName (
    Column1 DataType Constraints,
    Column2 DataType Constraints,
    ...
)
```

- Constraint **T·ª± ƒë·ªãnh nghƒ©a**

```sql
CREATE TABLE TableName (
    Column1 DataType,
    Column2 DataType,
    Constraints ConstraintName ConstraintType,
    ...
)
```

- ```CHAR(x)```: S·ªë l∆∞·ª£ng k√Ω t·ª± c·ªë ƒë·ªãnh.

- ```VARCHAR(x)```: S·ªë l∆∞·ª£ng k√Ω t·ª± ƒë·ªông (Auto xo√°).

- ```NVARCHAR(x)```: T∆∞∆°ng t·ª± VARCHAR(x) nh∆∞ng c√≥ d·∫•u ƒë∆∞·ª£c.

### RBTV (Constraint)

| T√™n Constraint     | √ù nghƒ©a ti·∫øng Vi·ªát                                                  | C√∫ ph√°p (Syntax)                                         | V√≠ d·ª• (Example)                                                                 |
|--------------------|---------------------------------------------------------------------|----------------------------------------------------------|----------------------------------------------------------------------------------|
| `PRIMARY KEY`      | Kh√≥a ch√≠nh ‚Äì ƒë·ªãnh danh duy nh·∫•t cho m·ªói d√≤ng                      | `PRIMARY KEY (ColumnName)` ho·∫∑c ngay sau t√™n c·ªôt         | `StudentID INT PRIMARY KEY`                                                     |
| `FOREIGN KEY`      | Kh√≥a ngo·∫°i ‚Äì li√™n k·∫øt v·ªõi kh√≥a ch√≠nh ·ªü b·∫£ng kh√°c                  | `FOREIGN KEY (Column) REFERENCES OtherTable(Column)`     | `CustomerID INT FOREIGN KEY REFERENCES Customers(CustomerID)`                  |
| `NOT NULL`         | Kh√¥ng cho ph√©p NULL ‚Äì b·∫Øt bu·ªôc nh·∫≠p d·ªØ li·ªáu                        | `ColumnName DataType NOT NULL`                           | `Name NVARCHAR(100) NOT NULL`                                                  |
| `UNIQUE`           | Gi√° tr·ªã kh√¥ng ƒë∆∞·ª£c tr√πng l·∫∑p trong c·ªôt                             | `ColumnName DataType UNIQUE`                             | `Email NVARCHAR(100) UNIQUE`                                                   |
| `CHECK`            | Ki·ªÉm tra ƒëi·ªÅu ki·ªán r√†ng bu·ªôc                                       | `CHECK (condition)` ho·∫∑c `ColumnName DataType CHECK (...)`| `GPA FLOAT CHECK (GPA BETWEEN 0 AND 4)`                                        |
| `DEFAULT`          | G√°n gi√° tr·ªã m·∫∑c ƒë·ªãnh n·∫øu kh√¥ng nh·∫≠p                                | `ColumnName DataType DEFAULT (value)`                    | `CreatedAt DATETIME DEFAULT GETDATE()`                                         |
| `IDENTITY`         | T·ª± ƒë·ªông tƒÉng gi√° tr·ªã, th∆∞·ªùng d√πng cho kh√≥a ch√≠nh                  | `ColumnName INT IDENTITY(seed, increment)`               | `OrderID INT PRIMARY KEY IDENTITY(1,1)`                                        |

- ```GETDATE()```: E.g. output: 2025-04-06 14:32:17.897

### S·ª≠a Table

#### Th√™m

- Column

```sql
ALTER TABLE TableName
ADD ColumnName DataType [CONSTRAINT ...]
```

- Constraint

```sql
ALTER TABLE TableName
ADD CONSTRAINT ConstraintName ConstraintType
```

#### Xo√°

- Column

```sql
ALTER TABLE TableName
DROP COLUMN ColumnName
```

- Constraint

```sql
ALTER TABLE TableName
DROP CONSTRAINT ConstraintName
```

#### M·ªü r·ªông

```sql
ALTER TABLE TableName
ALTER COLUMN ColumnName NewDomainType
```

### Xo√° Table

```sql
DROP TABLE TableName
```

## Truy v·∫•n

$$
\pi _A (\sigma _C (B))
$$

```sql
SELECT A FROM B WHERE C
```

$$
\land \: \lor \: \neg
$$

```sql
AND
OR
NOT
```

### SELECT

- Ch·ªçn Attribute A

```sql
SELECT A
```

- Ch·ªçn h·∫øt

```sql
SELECT *
```

#### DISTINCT

- Lo·∫°i b·ªè d√≤ng tr√πng

```sql
SELECT DISTINCT Cot1, Cot2, ...
FROM TenBang
```

#### AS

- ƒê·ªïi t√™n

```sql
TenCu AS TenMoi
```

```sql
TenCu TenMoi
```

#### T√≠nh to√°n

```sql
SELECT <PHEPTOAN(Attribute)> AS KQ
FROM B
```

- E.g.

```sql
SELECT (Price * Quantity) * (1 - Discount) AS FinalPrice
FROM Products
```

#### N·ªëi chu·ªói

```sql
SELECT FirstName + ' ' + LastName AS FullName
FROM Employees
```

```sql
SELECT CONCAT(FirstName, ' ', LastName) AS FullName
FROM Employees
```

#### H√†m k·∫øt h·ª£p

```sql
SELECT <H√†m k·∫øt h·ª£p> (AS TEN)
```

- H√†m k·∫øt h·ª£p:
    - ```COUNT()```

        - ```COUNT(*)```

        - ```COUNT(A)```

        - ```COUNT(DISTINCT A)```

    - ```MIN()```

    - ```MAX()```

    - ```SUM()```

    - ```AVG()```

- GROUP BY
```sql
SELECT A, <H√†m k·∫øt h·ª£p>
FROM
WHERE
GROUP BY A
```
- HAVING
```sql
SELECT A, <H√†m k·∫øt h·ª£p>
FROM
WHERE
GROUP BY A
HAVING <Condition>
```

### FROM

```sql
FROM Table1
```

#### T√≠ch Descartesian

$$TABLE _1 \times TABLE _2 \times TABLE _3 \times \ldots$$

```sql
FROM TABLE1, TABLE2 , TABLE3,...
```

L∆∞u √Ω

$$
A(C)
$$

$$
B(D)
$$

```sql
SELECT *
FROM A, B
WHERE A.C = B.D
```

- Or

```sql
SELECT *
FROM A AS x, B AS y
WHERE x.C = y.D
```

- L∆∞u √Ω

    - S·ªë ƒëi·ªÅu ki·ªán d√πng ƒë·ªÉ lo·∫°i **tuple tr√πng l·∫∑p** c·ªßa $A \times B$ = S·ªë quan h·ªá (lo·∫°i tr·ª´ quan h·ªá ko li√™n quan) gi·ªØa $A$ v√† $B$.

    - $A, B, C,\ldots$ tr√πng Attribute $\to$ ```A.Attribute```, ```B.Attribute```, ```C.Attribute```,...

#### K·∫øt

| Ki·ªÉu k·∫øt | Command                                 |
|------------------|------------------------------------------|
| $R_1 \bowtie R_2$: Kh·ªõp c·∫£ 2 b·∫£ng | ```FROM R1 JOIN R2 ON <Condition>``` <br/> or <br/> ```FROM R1 INNER JOIN R2 ON <Condition>``` |
| All b√™n tr√°i + b√™n ph·∫£i (n·∫øu kh·ªõp) | ```FROM R1 LEFT JOIN R2 ON <Condition>``` |
| All b√™n ph·∫£i + b√™n tr√°i (n·∫øu kh·ªõp) | ```FROM R1 RIGHT JOIN R2 ON <Condition>``` |
| All c·∫£ 2 b·∫£ng | ```FROM R1 FULL OUTER JOIN R2 ON <Condition>``` |
| $R_1 \times R_2$: T√≠ch Descartes | ```FROM R1 CROSS JOIN R2``` |
| $R \bowtie R$: T·ª± k·∫øt | ```SELECT R R1, R R2``` <br/> ```FROM R1 (K·∫øt ngo√†i) JOIN R2 ON <Condition>``` |

### WHERE

#### BETWEEN

- $a < x < b$

```sql
WHERE Column BETWEEN a AND b
```

- $x < a \land x > b$

```sql
WHERE Column NOT BETWEEN a AND b
```

#### LIKE

- B·∫±ng

```sql
WHERE Column LIKE 'xyz'
```

- Kh√¥ng b·∫±ng

```sql
WHERE Column NOT LIKE 'xyz'
```

- L∆∞u √Ω

    - Ti·∫øng Vi·ªát: ```N'xyz'```

    - K√Ω t·ª±:

        - ```'%xyz%'```: Ch·ª©a xyz.

        - ```'xyz%'```: B·∫Øt ƒë·∫ßu l√† xyz.

        - ```'%xyz'```: K·∫øt th·ª©c l√† xyz.

#### NULL

- L·∫•y ra Attribute Null trong Column

```sql
WHERE Column IS NULL
```

- L·∫•y ra Attribute Not Null trong Column

```sql
WHERE Column IS NOT NULL
```

#### Subquery

##### Ph√¢n c·∫•p

- Subquery **ƒë·ªôc l·∫≠p** v·ªõi Outer query.

```sql
SELECT
FROM
WHERE A <operator> (
    SELECT
    FROM
    WHERE B <operator> (
        ...
    )
)
```

- Opertators:

    - ```IN / NOT IN```

    - ```ALL```

    - ```ANY```

    - ```SOME```

- L∆∞u √Ω: Subquery *kh·∫£ h·ª£p* v·ªõi Outer query.

##### T∆∞∆°ng quan

- Attribute trong Subquery **ph·ª• thu·ªôc** Outer query.

```sql
SELECT
FROM
WHERE <operator> (
    SELECT 1
    FROM
    WHERE <operator> (
        ...
    )
)
```

- Opertators: ```EXISTS / NOT EXISTS```

## OTHERS

### ORDER BY

```sql
SELECT
FROM
WHERE
ORDER BY A, B,...
```

- TƒÉng ```ASC```

```sql
ORDER BY A ASC
```

- Gi·∫£m ```DESC```

```sql
ORDER BY A DESC
```

### SET

- $\cup$ ```UNION```

- $\cap$ ```INTERSECT```

- $-$ ```EXCEPT```

```sql
SELECT
FROM
WHERE
<SET>
SELECT
FROM
WHERE
```

- Gi·ªØ l·∫°i b·ªô tr√πng ```<SET> + ALL```

### CASE

```sql
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    ...
    ELSE result_default
END
```

| V·ªã tr√≠ d√πng CASE | √ù nghƒ©a                                 |
|------------------|------------------------------------------|
| ```SELECT```           | Hi·ªÉn th·ªã d·ªØ li·ªáu theo ƒëi·ªÅu ki·ªán          |
| ```ORDER BY```         | S·∫Øp x·∫øp theo logic t√πy ch·ªânh             |
| ```WHERE```            | T·∫°o ƒëi·ªÅu ki·ªán ph·ª©c t·∫°p (√≠t d√πng h∆°n)     |
| ```GROUP BY```         | K·∫øt h·ª£p v·ªõi bi·ªÉu th·ª©c t√≠nh nh√≥m          |

### Th·ª© t·ª± c√¢u l·ªánh

```sql
SELECT
FROM
WHERE
GROUP BY
HAVING
ORDER BY
```